*{
    font-family: 'Roboto', sans-serif;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
    /*Colores a usar:
    Amarillo: #EAC926;
    Azul: #03264C;
    Celeste: #1259c3;
    Gris oscuro: #666;
    Gris claro: #ebebeb;
    Verde: #39b54a;

    Para la sección del Header debemos:
    1-Solo para la versión mobile, ocultar el site y el login navbar.
    2-Para las versiones desktop y tablet mostrar el site y login navbar, pero ocultar la imagen
    del menú hamburguesa.
    */
    /* header */
    header{
        background-color: #EAC926;
        padding-bottom: 15px;
    }
    
    #logo_search{
        display: flex;
        align-items: center;
        width: 100vw;
    }
    #logo{
        width: 50vw;
    }
    #logo img{
        width: 80%;
        padding: 10px;
    }
    /*search*/
    #box_search{
        width: 50vw;
        display: flex;
        justify-content: flex-start;
        background-color: white;
        padding: 5px;
        border-radius: 5px;
        margin-right: 5px;
    }
    .search{
        border: none;
        width: 90%;
        padding: 3px;
        font-size: 0.65rem;
        outline: none;
    }
    .button_lupa{
        background-color: transparent;
        border: none;
        margin-left: 5px;
    }
    #tarjeta {
        display: flex;
        justify-content: center;
    }
    #tarjeta p{
        font-size: 0.85rem;
        margin-bottom: 10px;
    }
    #tarjeta i{
        margin: 0 10px;
    }
    /*navBar*/
    nav{
        display: none;
    }
    /*boton hamburguesa*/
    .burger_menu{
        display: block;
        margin: auto;
        font-size: 20px;
        padding: 4px 10px;
        background-color: #03264C;
        border-radius: 5px;
        color: white;
        border: none;
    }
    /* 1- Navegación en tablets (ancho mínimo 361 px)
       2- Navegación en desktop (ancho mínimo 769 px)
       3-Solo en el caso mobile la descripción del artículo no se visualizará.
       4-Agregar box-shadow. Para los dispositivos tablet o de resoluciones superiores, para ello nos pasaron esta propiedad* con los valores de CSS correspondientes:
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    */
    /*---------------- MAIN INDEX ---------------------*/
    main{
        background-color: #ebebeb;
        padding-bottom: 25px;
    }
    /*banner*/
    #banner{
        width: 100%;
    }
    #banner img{
        width: 100%;
    }
    /* titulos basado en ultima visita y ofertas */
    section h3{
        color: #666;
        font-size: 1.5rem;
        text-align: center;
        padding: 40px 0;
    }
    /*truck*/
    .fa-truck, .oferta{
        color: #39b54a;
        transform: rotate(0deg);
        transition: transform 0.3s ease;
    }

    .fa-truck:hover {
        transform: rotate(-90deg)
    }

    .oferta{
        margin-left: 15px;
    }
    .fa-truck{
        padding: 8px;
        border: 1px #39b54a solid;
        border-radius: 100%;
    }
    .trucks{
        display: flex;
        justify-content: end;
    }
    .card_product{
        margin-bottom: 40px;
    }
    .product{
        display: flex;
        justify-content: center;
    }
    .product img{
        width: 100%;
        padding: 0 10px;
    }
    .box_info{
        display: inline-flex;
        margin-bottom: 20px;
    }
    .info{
        background-color: white;
        margin: 0 10px;
        padding: 15px;
    }
    
    /*---------------- MAIN FORMUALRIOS ///REGISTER AND LOGIN//// ---------------------*/
    /*estilos generales que se usaron para los form de los dos html, register and login*/
    .forms_container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 50px;
        width: 100%;
    }
    fieldset{
        border: none;
        margin-bottom: 20px;
    }
    #date_interests legend, fieldset legend, #password label, .data_personal label {
        font-weight: bold;
        margin: 0 0 10px 5px;
    }
    /*TODOS LOS INPUT  */
    .data_personal input, #password input{
        padding: 8px;
        border: none;
        border-radius: 5px;
        margin-bottom: 15px;
        outline-color: #EAC926;
    }
    /* datos personales y contraseña */
    .data_personal, #password{
        display: flex;
        flex-direction: column;
    }
     /* datos de intereses */
     #date_interests article{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
      }
      /*plus mismos estilos a los input de datos de usuarios, foto de usuario y de datos de intereses*/
    #date_interests input, #data_user input, #photo-username{
        margin: 0 30px;
    }
    /* BOTONES */
    .forms_container a{
        text-decoration: none;
    }
    .forms_container button{
        background-color: #03264C;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        width: 100%;
        margin-bottom: 20px;
    }
    /*para centrar el texto de inicia sesion*/
    .date_sesion legend{
        text-align: center;
    }
    /* footer */
    footer{
        background-color: white;
        padding: 40px 20px 10px;
    }
    .fa-credit-card, .fa-gift, .fa-user-shield{
        color: #1259c3;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        margin: 10px 8px;
    }

    .fa-credit-card:hover, .fa-gift:hover, .fa-user-shield:hover {
        color: #03264C;
    }

    article h4, .info_footer, h6{
        color: #666;
        text-align: center;
        margin: 3px;
    }
    h6{
        font-weight: lighter;
    }
    .info_footer{
        margin-bottom: 45px;
    }
    footer > .miNombre{
        font-style: italic;
        color: blue;
        font-weight: 600;
    }

    /*Para que la descripcion este oculta en mobile y pueda aplicar el efecto en otras resoluciones*/
    @media (max-width: 768px) {
        .description {
          display: none; /* Ocultar la descripción en dispositivos móviles */
        }
      }

    @media (min-width: 768px){
        /* header - logo - search - cuotas */
        .header_container{
            display: flex;
            justify-content: space-around;
            align-content: center;
            padding-bottom: 10px;
        }
        #logo_search{
            width: 70vw;
        }
        #logo img{
            width: 90%;
            padding: 10px;
        }
        .search{
            width: 80%;
            font-size: 0.9rem;
        }
        #tarjeta p{
            font-size: 0.9rem;
        }
        .button_lupa{
        margin-left: 30px;
        }
        #tarjeta{
            width: 30vw;
            align-items: center;
            justify-content: center;
        }
          /*navBAr*/
        nav{
            display: flex;
            justify-content: space-between;
        }
        li a{
            text-decoration: none;
            color: black;
        }
        ul{
            list-style: none;
            display: flex;
            align-self: center;
        }
        ul li{
            padding: 5px;
        }
        /*boton hamburguesa*/
        .burger_menu{
            display: none;
        }
        /*----------------MAIN INDEX---------------------*/
        .products_container{
            display: flex;
            flex-wrap: wrap;
        }
        .card_product{
            
            width: 45%;
            margin: 15px;
        }

        .card_product:hover{
            box-shadow: 0px 0px 10px rgb(100, 100, 100);
        }

        .product img{
            padding: 0;
        }
        .info{
            background-color: white;
            margin: 0;
            padding: 15px;
        }

        .description{
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        .card_product:hover .description{
            visibility: visible;
            opacity: 1;
        }
        /*main formularios*/
        .box_forms{
            width: 100vw;
            padding: 0 30px;
        }
         /*footer*/
         footer section{
            display: flex;
            justify-content: space-around;
        }
        .article_footer{
            margin: 20px;
        }
        h4{
            font-size: 1.2rem;
        }
        .info_footer{
            font-size: 1rem;
        }
    }
    @media (min-width: 1200px){
        /* header - logo - search - cuotas */
        .header_container{
            display: 
            flex;
            justify-items: center;
        }
        .search{
            width: 100%;
            padding: 4px;
        }
        #tarjeta p{
            font-size: 1rem;
        }
        .button_lupa{
            margin-right: 15px;
        }
        /*navBAr*/
        ul li{
            padding: 20px;
        }
        /*----------------MAIN INDEX---------------------*/
        .products_container{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .card_product{
            width: 22%;
        }
         /*---------- main formularios --------------*/
         /*main formularios*/
        .box_forms{
            padding: 0 300px;
        }
        .card_btn{
            display: flex;
            flex-direction: row;
        }
        .card_btn button{
            width: 300px;
        }
        .card_btn #reset{
            margin-left: 30px;
        }
        /*centrar el boton de enviar de inicia sesion*/
        .btn-enviar{
            justify-content: center;
        }

        /*cambiar color del boton de login al pasar el mouse por arriba*/
        #buttonSubmitLogin:hover {
            background-color: #0022AA;
        }
    }